*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gallery section */
.gallery-section{
  padding-top: 60px;
  padding-bottom: 50px;
}
.navtabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 4px gray;
  padding: 15px 0px;
  position: relative;
}
.navtab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}
.navtab:hover {
  color: #007BFF;
}
.navtab.active {
  color: #007BFF;
  font-weight: 600;
}
.content {
  display: none;
  padding: 50px 20px 20px;
  max-width: 800px;
  text-align: center;
}
.content.active {
  display: block;
}
.underline{
  width: 4%;
  background-color: #47B2E4;
  height: 4px;
  margin: 0 auto;
  position: relative;
}
.underline::after {
  content: ' ';
  position: absolute;
  background-color: #868484;
  width: 100%;
  height: 4px;
  left: 100%;
}
.underline::before {
  content: ' ';
  position: absolute;
  background-color: #868484;
  width: 100%;
  height: 4px;
  right: 100%;
}